/* BASE STYLES, INCLUDE BASE FONT SIZE AND THEN USE ems WITH TYPOGRAPHY */

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}
	
html {
    font-size:16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
}

/* CONVERT FONTS FROM PIXELS TO ems TO MAKE THEM RESPONSIVE ON DIFFERENT SCREENS */

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em; 
}

ul {
    margin: 0;
}

/* CENTER CONTENT TO FIT NEATLY ON ALL DEVICE DISPLAYS */

body,
.container,
header,
.top-section,
.bottom-section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ADD WIDTHS IN AS A PERCENTAGE TO MAKE MOBILE FIRST FROM STATIC */
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 38px 20px 20px 20px;
	border-bottom: 3px solid #77a466; 
	width: 100%;
	font-size: 1.875em;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	flex-flow: row wrap; 
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	font-size: 1.125em;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em; 
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em; 
	line-height: 1.3125em; 
}

.address {
	font-size: 1em; 
	line-height: 1.5em; 
}

footer {
	border-top: 3px solid #eee;
	text-align: center;
	width: 100%;
	flex-flow: row wrap;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/* MOBILE FIRST DESIGN SO DEFAULT MOBILE STYLES ARE ABOVE ON TOP AND MEDIA QUERIES HERE BELOW FOR OTHER DEVICES */

	/* FIRST BREAKPOINT FOR BROWSERS GREATER THAN 768PX*/
@media only screen and (min-width: 768px) {
    /* Tablet styles here */
	.bottom-section {
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid #eee;
    }

    .section-one,
    .section-two,
    .section-three {
        border-top: none;
        flex-basis: 30%;
    }

    .section-two {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 0 20px;
    }
}
 
	/* SECOND BREAKPOINT KICKS IN ON BROWSERS OF 1200PX AND UP*/
@media only screen and (min-width: 1200px) {
    /* Desktop styles here */
	header {
        justify-content: space-between;
    }

    header h1 {
        width: 30%;
        padding: 0;
        border-bottom: none;
        text-align: left;
    }

    header nav {
        width: 40%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }
}

	/* REMOVE IMAGE FOR PRINT */
@media print {
	img {
		display: none;
	}
}